extends layout 
 
block content 
  h1= title 
 
  - let employeeid = toShow._id 
  - let employeename = toShow.name 
  - let costumeage = toShow.age 
  - let costumesalary = toShow.salary 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{employeeid} 
  - let actionid = "/resource/employee/" + employeeid 
  form(id='EmployeeForm', action= actionid, method="PUT") 
    div.form-group 
        label.costumeAttr(for='name') Employee Name 
        input#costume_type(type='text', name='name', value= employeename ) 
    div.form-group 
        label.costumeAttr(for='age') Employee Age 
        input#size(type='number', name='age', value= employeeage ) 
    div.form-group 
        label.costumeAttr(for='salary') Employee Salary 
        input#cost(type='number', name='salary', value= employeesalary ) 
    input(type="submit") 
 
  script. 
    document.forms['EmployeeForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 