extends layout 
 
block content 
  h1= title 
 
  form(id='EmployeeForm', action="/resource/employee", method="POST") 
    div.form-group 
        label.employeeAttr(for='name') Employee Name 
        input#name(type='text', name='name') 
    div.form-group 
        label.employeeAttr(for='age') Employee Age 
        input#age(type='number', name='size') 
    div.form-group 
        label.employeeAttr(for='salary') Employee Salary 
        input#salary(type='number', name='salary') 
    input(type="submit") 
 
  script. 
    document.forms['EmployeeForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 